<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>CLINE: A web-tool for the Comparison of Biological Dendrogram Structures</h1>

  <app-interface #interface
    (loadDendrogramEmitter)="onLoadDendro($event)"
    (changeSampleSizeEmitter)="onChangeSampleSize($event)"
    (removeDendrogramEmitter)="onRemoveDendro($event)"
    (flipDendrogramEmitter)="onFlipDendrogram($event)"
    (sortDendrogramEmitter)="onSortDendro($event)"
    (toggleDisplayMatchesEmitter)="onToggleDisplayMatches($event)"
    (changeMatchTypeEmitter)="onChangeMatchType($event)"
    (changeHighlightTypeEmitter)="onChangeHighlightType($event)"
    (savePNGEmitter)="onSavePNG($event)"
    (savePDFEmitter)="onSavePDF($event)"
    (saveSVGEmitter)="onSaveSVG($event)"
  >
  </app-interface>
  <app-canvas #canvas
    (changeCutoffEmitter)="onChangeCutoff($event)"
    [_dendrograms]="_dendrograms" >
  </app-canvas>
</div>
