<!--
  Options related to manipulating the list of dendrograms, or individual
  structures
-->
<fieldset>
  <legend>Dendrogram Manipulation</legend>

  <!-- Add a new dendrogram to the visualization -->
  <label>Load Dendrogram:</label>
  <input
    id="loadDendrogramInput"
    type="file"
    accept="text/plain"
    (change)="loadDendrogram($event)"
  />

  <!-- Remove a dendrogram from the visualization -->
  <label>Remove Dendrogram:</label>
  <select #removeDendrogramSelect
    id="removeDendrogramSelect"
    (change)="removeDendrogram()"
  >
    <option>Select...</option>
    <option *ngFor="let item of dendrogramNames"
      [value]="item"
      [label]="item"
    >{{item}}
    </option>
  </select>

  <!-- Horizontally flip the selected dendrogram -->
  <label>Flip Dendrogram:</label>
  <select #flipDendrogramSelect
    id="flipDendrogramSelect"
    (change)="flipDendrogram()"
  >
    <option>Select...</option>
    <option *ngFor="let item of dendrogramNames"
      [value]="item"
      [label]="item"
    >{{item}}
    </option>
  </select>

  <!-- Sort the branches of the selected dendrogram -->
  <label>Sort Dendrogram:</label>
  <select
    name="sortDendro"
    (change)="sortDendrogram($event)"
  >
    <option>Select...</option>
    <option *ngFor="let item of dendrogramNames"
      [value]="item"
      [label]="item"
    >{{item}}
    </option>
  </select>
</fieldset>


<!--
  Interaction related to the display and selection of cluster matching
  algorithms
-->
<fieldset>
  <!-- Toggle on/off the display of lines between matching clusters -->
  <label>Display Cluster Matches</label>
  <input
    id="displayMatchesCheckbox"
    type="checkbox"
    [(ngModel)]="displayMatches"
    (change)="toggleDisplayMatches($event)"
  />
  <br />

  <!-- Choose the type of cluster matching algorithm used by the application -->
  <label>Cluster Match:</label>
  <select
    id="matchTypeSelect"
    [(ngModel)]="matchType"
    (change)="changeMatchType($event)"
  >
    <option *ngFor="let key of matchKeys"
      [value]="key"
      [label]="matchLabels[key]"
    >{{matchLabels[key]}}
    </option>
  </select>

  <!--
    Choose the minimum of children a node needs to have in order to be
    considered for cluster matching
  -->
  <label>Sample Size:</label>
  <input
    id="sampleSizeInput"
    type="number"
    ng-pattern="/^[0-9]+$/"
    value={{sampleSize}}
    [(ngModel)]="sampleSize"
    step="1"
    min="2"
    (change)="changeSampleSize($event)"
  />

  <br />

  <!-- Choose the type of highlighting that should be applied to matched
  clusters -->
  <label>Highlight:</label>
    <select #highlightTypeSelect
      id="highlightTypeSelect"
      (change)="changeHighlightType()"
    >
    <option value="none">None</option>
    <option value="simi">Equal</option>
    <option value="diff">Different</option>
  </select>

</fieldset>

<div>
  <button id='savePNG' (click)="savePNG($event)">Export PNG</button>

  <button id="saveSVG" (click)="saveSVG($event)">Export SVG</button>
</div>
